<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="mega-header-header">

    <div class="subhead">Guide Collection <%= newsName %></div>

    <h1>
        A Complete Guide to Flexbox      </h1>

    <div class="article-content-meta">

        <div class="author-avatar">
            <a href="https://css-tricks.com/author/chriscoyier/">
                <img alt="Photo of Chris Coyier" src="https://secure.gravatar.com/avatar/8081b26e05bb4354f7d65ffc34cbbd67?s=80&amp;d=retro&amp;r=pg" srcset="https://secure.gravatar.com/avatar/8081b26e05bb4354f7d65ffc34cbbd67?s=160&amp;d=retro&amp;r=pg 2x" class="avatar avatar-80 photo" height="80" width="80">    </a>
            <svg class="half-circle" width="80px" height="80px">
                <use xlink:href="#half-circle"></use>
            </svg>
        </div>

        <div class="author-name-area">
            <div class="author-name-prefix">
                Author
            </div>
            <a class="author-name" href="https://css-tricks.com/author/chriscoyier/">
                Chris Coyier    </a>
        </div>

        <div class="article-comments-meta">
            <div class="comments-prefix">
                402 Comments    </div>
            <a class="comments-link" href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/#comments">
                Join the Conversation
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right">
                    <path d="M7 12.5L23 12.5" stroke="url(#paint0_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M1 12.5H2" stroke="url(#paint1_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M17.5 7L23 12.5L17.5 18" stroke="url(#paint2_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <defs>
                        <linearGradient id="paint0_linear" x1="10.7498" y1="12.5" x2="11.3447" y2="9.73465" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF8A00"></stop>
                            <stop offset="1" stop-color="#DA1B60"></stop>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="1.23436" y1="12.5" x2="2.00945" y2="12.2748" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF8A00"></stop>
                            <stop offset="1" stop-color="#DA1B60"></stop>
                        </linearGradient>
                        <linearGradient id="paint2_linear" x1="18.789" y1="17.9995" x2="23.3162" y2="17.3419" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF8A00"></stop>
                            <stop offset="1" stop-color="#DA1B60"></stop>
                        </linearGradient>
                    </defs>
                </svg>
            </a>
        </div>

        <div class="created">
            <div class="created-prefix">
                Published
            </div>
            <time datetime="">
                Apr 8, 2013      </time>
        </div>

        <div class="updated">
            <div class="updated-prefix">
                Updated
            </div>
            <time datetime="">
                Mar 14, 2019      </time>
        </div>

    </div>
    <div class="page-intro-p">
        <p>Our comprehensive guide to CSS flexbox layout. This complete guide explains everything about flexbox, focusing on all the different possible properties for the parent element (the flex container) and the child elements (the flex items). It also includes history, demos, patterns, and a browser support chart.</p>
    </div>

    <div class="guide-sponsor">
        <div class="monthly-sponsor-text">
            <div class="subhead">Monthly Sponsor</div>
            <h5>Thanks, HelloSign!</h5>

            <p class="bold-underline-links">
                Developer-first eSignature API that checks all the Enterprise boxes (and more). Try <a href="https://synd.co/2CFkDvJ">HelloSign API</a> for free today.
            </p>
        </div>

        <div class="monthly-sponsor-image">
            <a href="https://synd.co/2CFkDvJ">
                <img src="https://res.cloudinary.com/css-tricks/image/upload/v1554130103/hellosignapi_x5fztu.png" alt="HelloSign API">
            </a>
        </div>      </div>

</div>
</body>
</html>